# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
# (혹시 일부 OS에서 인식 안 될 때를 대비)
**/node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build outputs
android/
ios/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Example app
app-example/

# IDE / Editor
.vscode/
.idea/

# OS cache
Thumbs.db
